<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>
<%= link_to 'add to cart', cart_create_path(:iid => @item.id) %> 
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
