<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>
<%= link_to 'add to cart', cart_create_path(:iid => @item.id) %> 
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>




<% if user_signed_in? && current_user.id != @item.user_id %>
      <%= link_to "Message #{@item.user.email}", conversations_path(sender_id: current_user.id, recipient_id: @item.user.id), method: 'post', class:"button is-link" %>
    <% elsif user_signed_in? && current_user.id == @item.user_id  %>
      <%= link_to "Conversations", conversations_path %>
  
<% end %>
